@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0 0 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.tituloDestaque{
    color: var(--cor-terciaria);
}
.apresentacao{
    padding: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo{
    /*1rem == 16px*/
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}
.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.Apresentacao__imagem__principal{
   width: 50%;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-terciaria);
}

.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
}

.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 24px;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.5;
}

@media (max-width: 1200px){
    .cabecalho{
      padding: 10%;
      width: auto;  
    }
    
    .cabecalho__menu{
     justify-content: center;
        gap: 20px;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }

}

